<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>漫画</title>
</head>
<h3>搜索界面</h3>
<form action="">
    <p>用户名 <input type="text" name="user"></p>
    <p>密 码 &nbsp&nbsp<input  name="password" type="password"></p>
    <p>生 日 &nbsp&nbsp<input  name="birthday" type="date"></p>
    <p>
        <input type="submit" value="提交注册">   <!--value改变按钮的名字-->
    </p>
    <p>
        <input type="button" value="普通按钮，可以后续自定义功能">
    </p>
    <p>
        <input type="reset" value="重选输入信息">
    </p>
</form>